<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TFSInitialFolder" value="$/Product Development/Source/Software/Dev" />
    <add key="DGMLFile" value="C:\Temp\NugetVisualizerOutput.dgml" />
    <add key="TFSServerAddress" value="your_tfs_server_url_address" />    
    <add key="NuGetRepositoryURI" value="https://packages.nuget.org/api/v2" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>